<div class="home-page-container">
    <section id="search" style="margin: 20px; background-color: rgb(37, 160, 119); padding: 10px; height: 100vh;">
        <app-banner></app-banner>
    </section>

    <section id="courses" style="margin: 20px; background-color: rgb(51, 202, 152); padding: 10px; height: 100vh;">
        <app-popular></app-popular>
    </section>

    <section id="testimony" style="margin: 20px; background-color: rgb(28, 167, 120); padding: 10px; height: 100vh;">
        <app-testimony></app-testimony>
    </section>

    <section id="services" style="margin: 20px; background-color: rgb(18, 100, 73); padding: 10px; height: 100vh;">
        <app-services></app-services>
    </section>

    <section id="contact" style="margin: 20px; background-color: rgb(16, 131, 92); padding: 10px; height: 100vh;">
        <app-contact-us></app-contact-us>
    </section>

</div>