<div class="section-header">
    <h1>Popular Courses</h1>
</div>
<div class="home-page-popular-courses">
    <div class="home-page-popular-courses-desc">
        <p>
            <b>Highest rated courses by students:</b> Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ipsum, vitae?
        </p>
    </div>
    <div class="course-card">courses</div>
    <div class="popular-course-bottom">
        <!-- <button class="got-to-course-button" routerLink="/courses"> -->
        <!-- navigating between routes programatically -->
        <button class="got-to-course-button" (click)="navigateToCourses()">
            Go to courses Page
            <i class="fa fa-arrow-right" aria-hidden="true"></i>
        </button>
    </div>
</div>
